/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-may-2018, 19:14:56
    Author     : Moga
*/
.root{
    -fx-background-color: #000099; 
    -fx-text-fill: white;
}
.tab{
    -fx-background-color: #000099; 
    -fx-text-fill: white;
    
}
.label{
    -fx-text-fill: white;
}

.text{
    -fx-fill: white;
}

.pane{
    -fx-background-color: #000099; 
    -fx-text-fill: white;
    
    
}

.prueba{
        -fx-fill: white;

    
}

.button{
        -fx-text-fill: black;
        -fx-background-color: blue; 

    
}
